
header, 
#maincontent,
#map-container,
#restaurants {
    width: 100vw;
}

/* ====================== Map ====================== */

#map {
    min-height: 20vh;
    width: 100%;
    background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
    max-width: 100vw;
    /* height: 50px; */
    background-color: #0074D9;
    align-items: center;
    padding: 10px 0;
}

.filter-options h3 {
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0 20px;
}

.filter-options select {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    /* display: block; */
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    min-width: 200px;
    /* width: 40vw; */
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    /* text-align: center; */
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#restaurants-list li {
    align-items: flex-start;
    background-color: #fff;
    /* border: 2px solid #ccc; */
    border-radius: 20px 0;
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    /* min-height: 380px; */
    padding: 0 30px 25px;
    position: relative;
    /* text-align: left; */
    max-width: 100vw;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    border-radius: 20px 0 0;
    margin-left: -30px;
    max-width: calc(100% + 2 * 30px);
}

#restaurants-list li h2 {
    color: #2e8540;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list .neighborhood {
    font-weight: bold;
    text-transform: uppercase;
}

#restaurants-list li a {
    /* background-color: orange;
    border-radius: 0 10px;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    text-align: center;
    text-transform: uppercase; */
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-decoration: none;
}


/* ====================== Toastr styles override ====================== */

#toast-container,
#toast-container .toast-message,
#toast-container>div,
.toast {
    max-width: 95% !important; 
}

#t-container {
    padding: 15px 15px 15px 5px;
    width: 25em;
    overflow: hidden;
    position: relative;
}

