@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/* CSS Document */

* {
    box-sizing: border-box;
    max-width: 100%;
}

*:focus {
    border: 2px solid #ea4335 !important;
}

.isHidden {
    display: none;
}

:root, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body,
td,
th,
p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    position: relative;
}

ul,
li {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

/* a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
} */

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* ====================== Skip link ====================== */

.skip-link {
    position: absolute;
    top: -40px;
}

.skip-link:focus {
    position: static;
    padding-top: 90px;
    top: 0;
    background-color: #3397DB;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    z-index: 100;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#footer {
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */

nav {
    width: 100%;
    height: 80px;
    background-color: #252831;
    display: flex;
    align-items: center;
    text-align: center;
}

nav h1,
nav h2 {
    margin: auto;
    line-height: 25px;
}

nav h1 a,
nav h2 a {
    color: #fff;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 50%;
}


/* Display list items side by side */

.breadcrumb li {
    display: inline;
}


/* Add a slash symbol (/) before/behind each list item */

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


/* Add a color on mouse-over */

.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Bootstrap styles copy ====================== */
/* Copied just the styles used for toasty messages to reduce loading time and be able to tweak them */

.btn {
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
    border: 0;
    border-bottom: 3px solid #eee;
    padding: 10px 15px;
}

.btn-default {
    background-color: #333;
    border-radius: 10px 0; 
    color: #fff;
}

.btn-default:hover {
    background-color: #999;
}

.btn-warning {
    background-color: #ffa500; /* orange */
    border-radius: 0 10px;
    color: #fff;
    text-transform: uppercase;
}

.btn-warning:hover {
    /* filter: brightness(85%); */
    background-color: #ffc107;
}

/* ====================== Star styles  ====================== */


.star {
    font-size: 2em;
    cursor: pointer;
    color: #888;
}

.star-checked {
    color: orange;
}

.star-fav {
    position: absolute;
    left: 20px;
    font-size: 2em;
}

#restaurant-container .star-fav {
    left: 30px;
}
