/* ====================== Restaurant Details ====================== */

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#map-container {
    background: blue none repeat scroll 0 0;
    height: 90vh;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
}

#map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

#footer {
    bottom: 0;
    position: absolute;
    width: 100vw;
}

#restaurant-name {
    color: #f18200;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    max-width: 100%;
    border-radius: 20px 0;
}

#restaurant-address {
    font-size: 0.9em;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    /* width: 90%; */
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 30px;
    width: 50%;
}

#reviews-container {
    padding: 30px 30px 60px;
}

#reviews-container h3 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}

#reviews-list li {
    align-content: flex-start;
    background-color: #fff;
    border: 2px solid #f3f3f3;
    border-radius: 20px 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 5px 0 15px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 100%;
}

#reviews-list li p {
    margin: 0 0 10px;
    box-sizing: border-box;
}


/* Styling of the reviewer name */

#reviews-list li p:first-of-type {
    color: #fff;
    background-color: #333;
    font-size: 1.2em;
    margin-left: -20px;
    padding: 10px 20px;
    width: calc(40% + 20px);
}


/* Styling of the review date */

#reviews-list li p:nth-of-type(2) {
    color: #fff;
    background-color: #333;
    margin-right: -20px;
    text-align: right;
    text-shadow: 2px 2px #000;
    padding: 15px 20px;
    width: calc(60% + 20px);
}


/* Styling of the rating label */

#reviews-list li p:nth-of-type(3) {
    background-color: #ffa500;
    border-radius: 3px;
    color: #fff;
    padding: 5px 15px;
    text-transform: uppercase;
}

#restaurant-hours td {
    color: #666;
}
