@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/* CSS Document */

body,
td,
th,
p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
}

ul,
li {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
}

#footer {
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */

nav {
    width: 100vw;
    height: 80px;
    background-color: #252831;
    display: flex;
    align-items: center;
    text-align: center;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #fff;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}


/* Display list items side by side */

#breadcrumb li {
    display: inline;
}


/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map ====================== */

#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */

.filter-options {
    max-width: 100vw;
    /* height: 50px; */
    background-color: #3397DB;
    align-items: center;
    padding: 10px 0;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
    width: 100vw;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    min-width: 200px;
    /* width: 40vw; */
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
    max-width: 100vw;
}

#restaurants-list li {
    background-color: #fff;
    /* border: 2px solid #ccc; */
    border-radius: 20px 0;
    font-family: Roboto, Arial, sans-serif;
    display: inline-block;
    margin: 15px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    /* TODO: make width responsive */
    width: 270px; 
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    border-radius: 20px 0 0; 
    margin-left: -30px;
    width: calc(100% + 2 * 30px);
}

#restaurants-list li h1 {
    color: #f18200;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list .neighborhood {
    font-weight: bold;
    text-transform: uppercase;
}

#restaurants-list li a {
    background-color: orange;
    border-bottom: 3px solid #eee;
    border-radius: 0 10px;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */

.inside header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    position: absolute;
    width: 50%;
}

#restaurant-name {
    color: #f18200;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    width: 90%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 140px 40px 30px;
    width: 50%;
}

#reviews-container {
    padding: 30px 40px 80px;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    /* align-items: center; */
    background-color: #fff;
    border: 2px solid #f3f3f3;
    border-radius: 20px 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 100%;
}

#reviews-list li p {
    margin: 0 0 10px;
    box-sizing: border-box;
}

#reviews-list li p:first-of-type {
    color: #fff;
    background-color: #333;
    font-size: 1.5em;
    margin-left: -20px;
    padding: 10px 20px;
    width: calc(40% + 20px);
}

#reviews-list li p:nth-of-type(2) {
    color: #fff;
    background-color: #333;
    font-size: 1.1em;
    margin-right: -20px;
    text-align: right;
    text-shadow: 2px 2px #000;
    padding: 15px 20px;
    width: calc(60% + 20px);
}

#reviews-list li p:nth-of-type(3){
    background-color: #ffa500;
    border-radius: 3px;
    color: #fff;
    padding: 5px 15px;
    text-transform: uppercase;
}

#restaurant-hours td {
    color: #666;
}
